<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.co.iatech.crm.sugarmovil"
    android:versionCode="49"
    android:versionName="1.6.5.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    
     <!-- To access WS's: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.co.iatech.crm.sugarmovil.util.GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>       
         <activity
            android:name=".activities.ContactActivity"
            android:label="@string/title_activity_contact"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".activities.OpportunityActivity"
            android:label="@string/title_activity_opportunity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity 
            android:name=".activities.AddOpportunityActivity"
            android:label="@string/title_activity_create_opportunity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity 
            android:name=".activities.TaskActivity"
            android:label="@string/title_activity_task"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity 
            android:name=".activities.SubTaskActivity"
            android:label="@string/title_activity_subtask"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
         <activity 
            android:name=".activities.NoteActivity"
            android:label="@string/title_activity_notes"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
         <activity 
            android:name=".activities.LeadActivity"
            android:label="@string/title_activity_client"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity 
            android:name=".activities.AddTaskActivity"
            android:label="@string/title_activity_create_task"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity 
            android:name=".activities.AddSubTaskActivity"
            android:label="@string/title_activity_create_subtask"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity 
            android:name=".activities.AddNoteActivity"
            android:label="@string/title_activity_create_note"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
         <activity
            android:name=".activities.CallActivity"
            android:label="@string/title_activity_call"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
         <activity 
            android:name=".activities.AddCallActivity"
            android:label="@string/title_activity_create_call"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
       <activity 
            android:name=".activities.AddLeadActivity"
            android:label="@string/title_activity_client"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
         <activity
            android:name=".activities.ListContactActivity"
            android:label="@string/title_activity_contact"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.AccountActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AccountActivity" />
        </activity>
        
         <activity
            android:name=".activities.ListCallsActivity"
            android:label="@string/title_activity_call"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.AccountActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AccountActivity" />
        </activity>
        
        <activity
            android:name=".activities.ListOpportunityActivity"
            android:label="@string/title_activity_opportunity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.AccountActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AccountActivity" />
        </activity>
        
        <activity
            android:name=".activities.ListTasksActivity"
            android:label="@string/title_activity_task"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.AccountActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AccountActivity" />
        </activity>
        
         <activity
            android:name=".activities.ListSubTasksActivity"
            android:label="@string/title_activity_subtask"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.TaskActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TaskActivity" />
        </activity>
        
        <activity
            android:name=".activities.ListNotesActivity"
            android:label="@string/title_activity_notes"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.NoteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NoteActivity" />
        </activity>
        <activity
            android:name=".activities.ListLeadsActivity"
            android:label="@string/title_activity_select_lead"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.NoteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NoteActivity" />
        </activity>
        
        <activity
            android:name=".activities.ProductActivity"
            android:label="@string/title_activity_product"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity 
            android:name=".activities.AccountActivityTabs"
            android:label="@string/title_activity_account"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
           
            
        </activity>
        
         <activity
            android:name=".activities.AccountActivity"
            android:label="@string/title_activity_account"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            
        </activity>
                 
    </application>

</manifest>
